
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProductCategoryLabel" data-translate="eheartApp.productCategory.home.createOrEditLabel">Create or edit a Product Category</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.productCategory.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.productCategory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="eheartApp.productCategory.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.productCategory.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="eheartApp.productCategory.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.productCategory.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="eheartApp.productCategory.img" for="field_img">Img</label>
            <input type="text" class="form-control" name="img" id="field_img"
                    ng-model="vm.productCategory.img"
                     />
        </div>
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="eheartApp.productCategory.categoryPlaceholder1" for="field_categoryPlaceholder1">Category Placeholder 1</label>-->
            <!--<input type="text" class="form-control" name="categoryPlaceholder1" id="field_categoryPlaceholder1"-->
                    <!--ng-model="vm.productCategory.categoryPlaceholder1"-->
                     <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="eheartApp.productCategory.categoryPlaceholder2" for="field_categoryPlaceholder2">Category Placeholder 2</label>-->
            <!--<input type="text" class="form-control" name="categoryPlaceholder2" id="field_categoryPlaceholder2"-->
                    <!--ng-model="vm.productCategory.categoryPlaceholder2"-->
                     <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="eheartApp.productCategory.categoryPlaceholder3" for="field_categoryPlaceholder3">Category Placeholder 3</label>-->
            <!--<input type="text" class="form-control" name="categoryPlaceholder3" id="field_categoryPlaceholder3"-->
                    <!--ng-model="vm.productCategory.categoryPlaceholder3"-->
                     <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="eheartApp.productCategory.createdDate" for="field_createdDate">Created Date</label>-->
                <!--<div class="input-group">-->
                    <!--<input id="field_createdDate" type="text" class="form-control" name="createdDate" datetime-picker="{{dateformat}}" ng-model="vm.productCategory.createdDate" is-open="vm.datePickerOpenStatus.createdDate"-->
                      <!--/>-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="eheartApp.productCategory.createdBy" for="field_createdBy">Created By</label>-->
            <!--<input type="text" class="form-control" name="createdBy" id="field_createdBy"-->
                    <!--ng-model="vm.productCategory.createdBy"-->
                     <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="eheartApp.productCategory.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>-->
                <!--<div class="input-group">-->
                    <!--<input id="field_lastModifiedDate" type="text" class="form-control" name="lastModifiedDate" datetime-picker="{{dateformat}}" ng-model="vm.productCategory.lastModifiedDate" is-open="vm.datePickerOpenStatus.lastModifiedDate"-->
                      <!--/>-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastModifiedDate')"><i class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="eheartApp.productCategory.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>-->
            <!--<input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"-->
                    <!--ng-model="vm.productCategory.lastModifiedBy"-->
                     <!--/>-->
        <!--</div>-->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
