
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDepartmentLabel" data-translate="eheartApp.department.home.createOrEditLabel">Create or edit a Department</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.department.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.department.id" readonly />
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="form-group">
                    <label class="control-label" data-translate="eheartApp.department.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           ng-model="vm.department.name"
                    />
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="form-group">
                    <label data-translate="eheartApp.department.clinic" for="field_clinic">Clinic</label>
                    <select class="form-control" id="field_clinic" name="clinic" ng-model="vm.department.clinicId" ng-options="clinic.id as clinic.name for clinic in vm.clinics"            >
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">

            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">

            </div>
        </div>


        <div class="form-group">
            <label class="control-label" data-translate="eheartApp.department.img" for="field_img">Img</label>
            <div>
                <img ng-if="vm.department.img !=null" ng-src="{{IMAGE_ROOT}}{{vm.department.img}}" style="max-height: 20rem; max-width: 20rem; border-radius: 5px">
            </div>
            <div id ="field_img" class="button select-picture-button padding" accept="image/*"
                 ngf-select="vm.onFileSelect(img)" ng-model="img" ngf-multiple="false">
                <button class="btn btn-primary">选择图片</button>
            </div>
            <br>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="eheartApp.department.description" for="field_description">Description</label>
            <textarea class="form-control" name="description" id="field_description"
                   ng-model="vm.department.description"
            />
        </div>
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="eheartApp.department.departmentPlaceholder1" for="field_departmentPlaceholder1">Department Placeholder 1</label>-->
            <!--<input type="text" class="form-control" name="departmentPlaceholder1" id="field_departmentPlaceholder1"-->
                    <!--ng-model="vm.department.departmentPlaceholder1"-->
                     <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="eheartApp.department.departmentPlaceholder2" for="field_departmentPlaceholder2">Department Placeholder 2</label>-->
            <!--<input type="text" class="form-control" name="departmentPlaceholder2" id="field_departmentPlaceholder2"-->
                    <!--ng-model="vm.department.departmentPlaceholder2"-->
                     <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="eheartApp.department.departmentPlaceholder3" for="field_departmentPlaceholder3">Department Placeholder 3</label>-->
            <!--<input type="text" class="form-control" name="departmentPlaceholder3" id="field_departmentPlaceholder3"-->
                    <!--ng-model="vm.department.departmentPlaceholder3"-->
                     <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="eheartApp.department.createdDate" for="field_createdDate">Created Date</label>-->
                <!--<div class="input-group">-->
                    <!--<input id="field_createdDate" type="text" class="form-control" name="createdDate" datetime-picker="{{dateformat}}" ng-model="vm.department.createdDate" is-open="vm.datePickerOpenStatus.createdDate"-->
                      <!--/>-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="eheartApp.department.createdBy" for="field_createdBy">Created By</label>-->
            <!--<input type="text" class="form-control" name="createdBy" id="field_createdBy"-->
                    <!--ng-model="vm.department.createdBy"-->
                     <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="eheartApp.department.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>-->
                <!--<div class="input-group">-->
                    <!--<input id="field_lastModifiedDate" type="text" class="form-control" name="lastModifiedDate" datetime-picker="{{dateformat}}" ng-model="vm.department.lastModifiedDate" is-open="vm.datePickerOpenStatus.lastModifiedDate"-->
                      <!--/>-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastModifiedDate')"><i class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="eheartApp.department.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>-->
            <!--<input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"-->
                    <!--ng-model="vm.department.lastModifiedBy"-->
                     <!--/>-->
        <!--</div>-->

        <div class="form-group">
            <label data-translate="eheartApp.department.hospital" for="field_hospital">Hospital</label>
            <select class="form-control" id="field_hospital" multiple name="hospital" ng-model="vm.department.hospitals" ng-options="hospital as hospital.name for hospital in vm.hospitals track by hospital.id"></select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
