<div>
    <h2 data-translate="eheartApp.product.home.title">Products</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="product.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="eheartApp.product.home.createLabel">
                        Create new Product
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'eheartApp.product.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="eheartApp.product.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="eheartApp.product.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="img"><span data-translate="eheartApp.product.img">Img</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="link"><span data-translate="eheartApp.product.link">Link</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="price"><span data-translate="eheartApp.product.price">Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shelfLife"><span data-translate="eheartApp.product.shelfLife">Shelf Life</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="produceDate"><span data-translate="eheartApp.product.produceDate">Produce Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="producer"><span data-translate="eheartApp.product.producer">Producer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="produceLoaction"><span data-translate="eheartApp.product.produceLoaction">Produce Loaction</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="guige"><span data-translate="eheartApp.product.guige">Guige</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="chengfen"><span data-translate="eheartApp.product.chengfen">Chengfen</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="yongfa"><span data-translate="eheartApp.product.yongfa">Yongfa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="xingzhuang"><span data-translate="eheartApp.product.xingzhuang">Xingzhuang</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gongneng"><span data-translate="eheartApp.product.gongneng">Gongneng</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pihao"><span data-translate="eheartApp.product.pihao">Pihao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="buliangfanying"><span data-translate="eheartApp.product.buliangfanying">Buliangfanying</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notes"><span data-translate="eheartApp.product.notes">Notes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="inventory"><span data-translate="eheartApp.product.inventory">Inventory</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="total"><span data-translate="eheartApp.product.total">Total</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isNew"><span data-translate="eheartApp.product.isNew">Is New</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="favorite"><span data-translate="eheartApp.product.favorite">Favorite</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productPlaceholder1"><span data-translate="eheartApp.product.productPlaceholder1">Product Placeholder 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productPlaceholder2"><span data-translate="eheartApp.product.productPlaceholder2">Product Placeholder 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productPlaceholder3"><span data-translate="eheartApp.product.productPlaceholder3">Product Placeholder 3</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span data-translate="eheartApp.product.createdDate">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdBy"><span data-translate="eheartApp.product.createdBy">Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifiedDate"><span data-translate="eheartApp.product.lastModifiedDate">Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifiedBy"><span data-translate="eheartApp.product.lastModifiedBy">Last Modified By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in vm.products track by product.id">
                    <td><a ui-sref="product-detail({id:product.id})">{{product.id}}</a></td>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.img}}</td>
                    <td>{{product.link}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.shelfLife}}</td>
                    <td>{{product.produceDate | date:'medium'}}</td>
                    <td>{{product.producer}}</td>
                    <td>{{product.produceLoaction}}</td>
                    <td>{{product.guige}}</td>
                    <td>{{product.chengfen}}</td>
                    <td>{{product.yongfa}}</td>
                    <td>{{product.xingzhuang}}</td>
                    <td>{{product.gongneng}}</td>
                    <td>{{product.pihao}}</td>
                    <td>{{product.buliangfanying}}</td>
                    <td>{{product.notes}}</td>
                    <td>{{product.inventory}}</td>
                    <td>{{product.total}}</td>
                    <td>{{product.isNew}}</td>
                    <td>{{product.favorite}}</td>
                    <td>{{product.productPlaceholder1}}</td>
                    <td>{{product.productPlaceholder2}}</td>
                    <td>{{product.productPlaceholder3}}</td>
                    <td>{{product.createdDate | date:'medium'}}</td>
                    <td>{{product.createdBy}}</td>
                    <td>{{product.lastModifiedDate | date:'medium'}}</td>
                    <td>{{product.lastModifiedBy}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="product-detail({id:product.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="product.edit({id:product.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="product.delete({id:product.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
